@import "~normalize.css/normalize.css";
@import "~font-awesome/css/font-awesome.css";

body {
  height: 100vh;
  font-family: ArialMT, Arial, san-serif;
  background-color: #666666;
}

html,
body {
  overflow: hidden;
}

input,
textarea {
  background-color: transparent;
}

a,
a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:focus,
button:hover {
  outline: 0;
}

button:disabled {
  cursor: inherit;
  filter: none;
}

p {
  margin: 0;
}
